@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-orange: #ffede1;
  --bg-white: #ffffff;
  --primary: #e94560;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}
