@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-orange: #ffede1;
  --bg-white: #ffffff;
  --primary: #e94560;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --transparent-darker: rgba(0, 0, 0, 0.5);
  --custom-scrollbar-color: var(--transparent-darker);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: var(--custom-scrollbar-color);
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background-color: var(--transparent-darker);
}

::-webkit-scrollbar {
  background: var(--transparent-darker);
  height: 6px;
  width: 6px;
}
